<%= render 'shared/info' , book: @book, user: @user %>
        <div class="col-8 offset-md-1">
            <h2>Book detail</h2>
            <table class="table table-hover table-inverse">
                <tbody>
                    <td><%= link_to users_path([:id]) do %>
                          <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg" %>
                        <% end %>
                    </td>
                    <td><%= link_to @showbook.title %></td>
                    <td><%= @showbook.body %></td>
                    
                    <td><%= link_to "Edit", edit_book_path(@showbook.id), class:"btn btn-sm btn-success"%></td>
                    <td><%= link_to "Destroy", book_path(@showbook.id), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %></td>
                </tbody>
            </table>

    </div>
  </div>
</main>

<!--本の詳細画面-->