<head>
  <script src="https://kit.fontawesome.com/78227601ab.js" crossorigin="anonymous"></script>
</head>
  <% if @book.errors.any? %>
        <%= @book.errors.count %>errors prohibited this obj from being saved:
        <% @book.errors.full_messages.each do |message| %>
          <ul>
            <li><%= message %></li>
          </ul>
        <% end %>
      <% end %>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= attachment_image_tag @showbook.user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg" %>
        <table class="table">
          <tr>
            <th>name</th>
            <th><%= @showbook.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @showbook.user.introduction %></th>
          </tr>
        </table>
        <div class="row">
          <%= link_to "", edit_user_path(@showbook.user.id), class:"btn btn-outline-secondary btn-block fas fa-user-cog" %>
        </div>

        <h2>New book</h2>
        <%= form_with model:@book, local:true do |f| %>
          <div class="form-group">
            <h4>Title</h4>
            <%= f.text_field :title %>
          </div>
          <div class="form-group">
            <h4>Opinion</h4>
            <%= f.text_area :body %>
          </div>
            <%= f.submit "Create Book", class:'btn btn-success' %>

        <% end %>
      </div>
        <div class="col-md-8 offset-md-1">
            <h2>Book detail</h2>
            <table class="table table-hover table-inverse">
                <tbody>
                    <td><%= link_to user_path(@showbook.user.id) do %>
                          <%= attachment_image_tag @showbook.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg" %>
                          <%= @showbook.user.name %>
                        <% end %>
                      </td>
                    <td><%= link_to @showbook.title %></td>
                    <td><%= @showbook.body %></td>
                    <% if @showbook.user == current_user %>
                    <td><%= link_to "Edit", edit_book_path(@showbook.id), class:"btn btn-sm btn-success"%></td>
                    <td><%= link_to "Destroy", book_path(@showbook.id), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %></td>
                    <% else %>
                    <td></td>
                    <td></td>
                    <% end %>
                </tbody>
            </table>

    </div>
  </div>
</main>

<!--本の詳細画面-->